#section{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("../../images/background-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.anchoCarrusel{
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  -webkit-box-shadow: 2px 0px 44px 15px rgba(0,0,0,0.81);
  -moz-box-shadow: 2px 0px 44px 15px rgba(0,0,0,0.81);
  box-shadow: 2px 0px 44px 15px rgba(0,0,0,0.81);
}